{
    "env": {
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 7,
      },    
      "max-len": [2, {
          "code": 80,
          "tabWidth": 2,
          "ignoreUrls": true,
          "ignoreComments": true,
          "ignoreStrings": true,
          "ignorePattern": "'.*': '.*',",
        }],
    "extends": "eslint-config-google"
}
